* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* ===header./start=== */
.header {
  width: 100%;
  height: 848px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  padding-left: 71px;
  padding-top: 12px;
  width: 122px;
  height: 74px;
}

.logo img {
  object-fit: cover;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 72px;
  margin-top: 25px;
  padding: 7.297px 13.717px 7.703px 12.775px;
  width: 152px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.number p {
  margin-top: 16px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  /* 178.571% */
}

.menu {
  position: absolute;
  width: 100%;
  height: 34px;
  padding-left: 40px;
  padding-right: 72px;
  margin-top: 97px;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.menu ul li {
  list-style-type: none;
  text-decoration: none;
  padding-top: 13px;
  width: 187px;
  height: 34px;
  margin-top: 11px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  position: relative;
}

.menu ul li::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  top: 0;
  left: 0;
  background: #FFF;
  transition: 0.3s linear;
}

.menu ul li:hover::after {
  width: 100%;
}

.menu ul li:hover .sub-menu {
  display: flex;
}

.menu ul li a {
  text-decoration: none;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  /* 111.111% */
}

.slider {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 848px;
}

.banner .banner-bg {
  /* width: 100%; */
  height: 762px;
}

.banner .banner-bg img {
  object-fit: cover;
}

.text-left {
  position: absolute;
  width: 780px;
  height: 225px;
  top: 239px;
  left: 70px;
}

.text-left .wrap {
  height: 85px;
  color: transparent;
  -webkit-text-stroke: 1px #FFF;
  font-size: 127px;
  font-style: normal;
  font-weight: 800;
  line-height: 85px;
  /* 66.929% */
  letter-spacing: -2.54px;
}

.text-left .wrap-up {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 396px;
  height: 85px;
  color: transparent;
  -webkit-text-stroke: 1px #FFF;
  font-size: 127px;
  font-style: normal;
  font-weight: 800;
  line-height: 85px;
  /* 66.929% */
  letter-spacing: -2.54px;
}

.text-left .wrap-green {
  position: absolute;
  bottom: 0;
  height: 85px;
  color: #4CA757;
  text-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  font-size: 127px;
  font-style: normal;
  font-weight: 800;
  line-height: 85px;
  /* 66.929% */
  letter-spacing: -2.54px;
}

.text-right {
  position: absolute;
  width: 448px;
  height: 112px;
  bottom: 149px;
  right: 100px;
}

.text-right p {
  color: #F9F0EC;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}


.sub-menu {
  width: 100%;
  height: 674px;
  background-color: #3ca966;
  margin-top: 45px;
  display: none;
}

/* ===header./end=== */










/* ===section-1./start=== */
.section-1 {
  position: relative;
  margin-top: 77px;
  width: 100%;
  height: 825px;
}

.section-1 .text-left {
  width: 521px;
  height: 496px;
  flex-shrink: 0;
  top: 138px;
  left: 68px;
}

.section-1 .text-left span {
  color: var(--subtitle-new, #376A66);

  /* PC/sub tit con */
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  /* 150% */
  letter-spacing: 2.16px;
  text-transform: uppercase;
}

.section-1 .text-left .text {
  margin-top: 16px;
  width: 521px;
  height: 280px;
  color: #3A5469;
  font-size: 46px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: -2.3px
}

.section-1 .text-left .text p {
  color: var(--xanh, #4CA757);
  font-size: 46px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px;
  /* 121.739% */
  letter-spacing: -2.3px;
}

.section-1 .text-left .text span {
  color: var(--xanh, #4CA757);
  font-size: 46px;
  font-style: normal;
  font-weight: 800;
  line-height: 56px;
  /* 121.739% */
  letter-spacing: -2.3px;
}

.section-1 .btn {
  margin-top: 30px;
  border: none;
}

.section-1 .btn button {
  width: 143px;
  height: 143px;
  border-radius: 50%;
  color: var(--mu-trng, #FFF);
  text-align: center;
  background-image: linear-gradient(#4CA757, #16A571);
  /* PC/button */
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  /* 150% */
  text-transform: uppercase;
}

.section-1 .text-right {
  display: flex;
  top: 77px;
  width: 906px;
  height: 825px;
  position: relative;
}

.section-1 .text-right .img1 {
  position: absolute;
  margin-top: 156px;
}

.section-1 .text-right .img1 img {
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  object-fit: cover;
  width: 179.23px;
  height: 217.316px;
}

.section-1 .text-right .img2 {
  margin-top: 156px;
  margin-left: 190px;
  border-radius: 0px 20.09px 0px 0px;
}

.section-1 .text-right .img2 img {
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  object-fit: cover;
  width: 518.646px;
  height: 371.902px;

}

.section-1 .text-right .img3 {
  margin-top: 185px;
  right: 0;
  margin-left: 10px;
}

.section-1 .text-right .img3 img {
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  object-fit: cover;
  width: 241.96px;
  height: 413.349px;
}

.section-1 .text-right .img4 {
  position: absolute;
  bottom: 0;
  right: 251px;
}

.section-1 .text-right .img4 img {
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  object-fit: cover;
  width: 264.364px;
  height: 295.729px;
}

.section-1 .text-right .block1 {
  position: absolute;
  width: 152.345px;
  height: 147.865px;
  flex-shrink: 0;
  right: 45px;
  top: 10px;
  border-radius: 0px 20.09px 0px 0px;
  background-image: linear-gradient(#4CA757, #16A571);
}

.section-1 .text-right .block2 {
  position: absolute;
  bottom: 160px;
  left: 0;
  width: 190.432px;
  height: 143.384px;
  flex-shrink: 0;
  border-radius: 0px 0px 0px 20.09px;
  opacity: 0.10000000149011612;
  background: var(--xm, #3A5469)
}

.section-1 .text-right .block3 {
  position: absolute;
  width: 113.462px;
height: 112.524px;
flex-shrink: 0;
  right: 128px;
  bottom: 0;
  border-radius: 0px 20.09px 0px 0px;
  opacity: 0.10000000149011612;
  background: var(--xm, #3A5469)
}






/* reponsive */
@media screen and (max-width: 1445px) {}

/* may tinh de ban+desktop */
@media screen and (max-width: 1279px) {}

/* man hinh tablet */
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .number {
    display: none;
  }

  .logo {
    padding-left: 10px;
    padding-top: 8px;
  }

  .logo img {
    width: 72px;
    height: 47px;
  }
}

/* man hinh mobile */
@media screen and (max-width: 480px) {
  .header {
    height: 521px;
  }

  .menu {
    display: none;
  }

  .number {
    display: none;
  }

  .logo {
    padding-left: 10px;
    padding-top: 8px;
  }

  .logo img {
    width: 72px;
    height: 47px;
  }
}